/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App{
  width:100vw;
  height:100vh;
  max-height:100%;
}
.App-header {
  background-color: #282c34;
  justify-content: left;
  width: 100vw;
  height: 60px;
  color: white;
}
.App-header-elem{
  margin:0 1vw;
}
.App-title{
  font-size: calc(10px + 2vmin);
}
.App-credit{
  font-size: calc(5px + 1vmin);
}

.App-credit a {
  color: #ffcbcb;
}
.main-container{
  width:100vw;
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-wrapper{
  width:100%;
  height:100%;
  background-color: white;
  justify-content: center;

  overflow: hidden;
}
.content-wrapper-padding{
  float: right;
  height: 100%;
  width: 95%;
}
#preview-wrapper-padding{
  float: left;
  margin: 10px;
}
#editor-wrapper textarea{
  resize:none;
  width:100%;
  height:100%;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: visible;
}
#preview-wrapper{
  overflow-y: scroll;
}
#preview{
  width:100%;
  /*background-color: orange;*/
}
